.infoWrapper {
    margin-left: 70px;
    margin-right: 74px;
}
.infoContainer{
    padding: 20px;
    gap: 20px;
    margin-top: 65px;
    display: flex;
    width: fit-content;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid  #909DE2;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.14);
}
.infoContainerParent{
    display: flex;
    justify-content: center;
}
.infoCard{
    display: flex;
    flex-direction: row;
    gap: 13px;
    border-right: 1px solid  #909DE2;
    padding-right: 29px;
    align-items: flex-start;
  
}
.infoCard img {
    width: 48px;
    height: 48px;
}
.infoText {
    gap: 17px;
    display: flex;
    flex-direction: column;
}
.infoText h4 {
    color: #011A41;
    font-family: 'Mulish';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px; 
}
.infoText p {
    color:#555;
    font-family: 'Mulish';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}
.lastInfoCard {
    border-right: none;
}

@media only screen and (max-width: 1250px) {
      

.infoCard img {
    width: 35px;
    height: 35px;
}
.infoText {
    gap: 17px;
    display: flex;
    flex-direction: column;
}
.infoText h4 {
    color: #011A41;
    font-family: 'Mulish';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px; 
}
.infoText p {
    color:#555;
    font-family: 'Mulish';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    }
    .infoContainer{
        padding: 12px;
        height: fit-content;
        gap: 5px;
        width: 90vw;
    }
    .infoCard{
        height: fit-content;
        padding: 18px;
        gap: 5px
    }
}