* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family:"Muli";
    src: url(fonts/Muli.ttf);
}
@font-face {
    font-family:"Mulish";
    src: url(fonts/Mulish.ttf);
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}
html {
    height: 100%;
 }
 .header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    margin-top: 56px;
    
 }
.headerContainer1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   margin-left: 191px;
   
    height: 50px;
}
.headerContainer2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   margin-right: 192px;
    height: 50px;
    gap: 40px;
}

.logo {
    background-color: #458FF6;
    border-radius: 50%;
    height: 41px;
    width: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: White;
}
.logoP {
    font-size: 26px;
    font-family: Muli;
    font-weight: 700;
}

.logoName {
    color: #233348;
    margin-left: 12px;
    font-family: Muli;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu {
    flex-direction: row;
    list-style-type: none
}
h1 {
    color: #000;
    font-family: Muli;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px
}
a {
    text-decoration: none;
    margin: 0px 20px;
    color: gray;
    cursor: pointer;
    text-transform: capitalize;
}
a:hover {
    color: black;
}

.home a {
    font-family: Mulish;
}
.titleContainer {  
    margin: 190px 127px 25px 190px;
    display: flex;
    margin-right: 163px;
    align-items: center;
}
.titleContainer h1 {
    width: 427px;
    height: 112px;
    
}
.titleContainer p {
    color: #7D7987;
    font-family: Muli;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; 
    margin-top: 25px;
    width: 445px;
    height: 96px;
}
.headerPic {
    width: 693px;
    height: 598px;
    flex-shrink: 0;

   
}
.titleContainer button {
    margin-top: 45px;
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    background-color: #458FF6;
    border-radius: 55px;
    color: white;
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    display: flex;
    align-items: center;
    border: 0px;
    justify-content: center;
    outline: none;
}

.services {
    width: 100vw; display: flex; justify-content: center;
    align-items: center; color: #000;
    font-family: Muli;
    font-size: 36px;
    margin-top: 192px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; 
}

.servicesRectangle {
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    background-color: black; 
    margin-top: 26px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.upperRect {
    display: flex;
    align-items: center;
    justify-content: center;
}
.serviceP{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-bottom: 80px;
}
.serviceP p{
    width: 952px;
    height: 60px;
    margin-top: 33px;
    color: #7D7987;
    text-align: center;
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; 
}
.optionsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    justify-content: center;
    margin-top: 500px;
    
    
}
.upperContainer,.bottomContainer {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
}
.bottomContainer {
    margin-top: 35px;
}
.box {
    width: 350px;
    height: 354px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
    border-radius: 5%;
    
    
    
}
.box img {
    width: 92px;
    height: 91px;
    margin-top: 54px;
    margin-left: 37px;
}
.box h3{
    color: #000;
    font-family: Muli;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    margin-left: 37px;
    margin-top: 22.4px;
 
}
.box p {
    color: #7D7987;
    font-family: Muli;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    width: 266px;
    height: 84px;
    line-height: 28px;
    margin-left: 37px;
    margin-top: 1px;
}
.learnButton {
    color: #458FF6;
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: white;
}
.lrn {
    width: 100vw;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 420px;
}

.secImg {
    width: 650px;
    height: 477px;
    flex-shrink: 0;
    margin-right: 142px;
}
.middleImgCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1250px;
    flex-direction: row;
    height: 480px;
    margin-left: 135px;
    margin-top: 220px;
}
.middleCont,.thirdCont {
    width: 481px;
    display: flex;
    flex-direction: column;
}
.middleCont p,.thirdCont p {
    width: 450px;
    color: #7D7987;

    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
.middleCont button,.thirdCont button {
    margin-top: 37px;
    outline: none;
}
.rectangleBlck {
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #000000;
    margin-top: 26px;
    margin-bottom: 31px;

}
.thirdImgCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1250px;
    flex-direction: row;
    height: 480px;
    margin-left: 280px;
    margin-top: 220px;
}
.vector {
    margin-left: 14.79px;
    margin-top: 3px;
}

.sliderContainer {
    position: relative;
    margin-top: 330px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.secondContainer {
    border-radius: 24px;
    height: 425px;
    width: 1120px;
    background: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);
    display: flex;
    flex-direction: column;
    z-index: 50;

    position: relative;
}
.title {
    color: white;
    font-family: Muli;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-top: 64px;
}

.rectangle {
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    margin-top: 25px;

}
.rect {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgDiv {
    
    background-image:url(img/profile.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    width: 133px;
    height: 133px;
    margin-right: 33px;
    border: 4px solid white;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.name {
    color: #FFF;
    font-family: Muli;
    font-size: 22px;
    font-weight: 700;
    line-height: 48px; 
}
.prof {
    color: white;
    font-family: Muli;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
}
.info {
    width: 420px;
    color: white;
    font-family: Muli;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 110px;
  
}
.dots {
    width: 131.581px;
    height: 115px;
    position: absolute;
    right: -45px;
    top: -15px;
    z-index: 100;
}
.dots2{
    width: 131.581px;
    height: 115px;
    position: absolute;
    left: -52px;
    bottom: 106px;
    
}
.nav {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 47px;
}
button{
    border: none;
    background: none;
    outline: none;
} 
.articleText {
    width: 100vw;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 227px;
}
.articleText h1{
    color: #000;
    font-family: Muli;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}
.articleRect {
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    background-color: black; 
    margin-top: 26px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.footerCont {
    width: 1175px;
    height: 525px;
    margin: 72px 240px 0px 238px;
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.boxImg {
    width: 370px;
    height: 490px;
    border-radius: 15px 25px 0px 0px;
    
}
.footerBox img {
    width: 369px;
    height: 246px;
    flex-shrink: 0;
   
}
.footerContent h3 {
    color: #000;
    font-family: Muli;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    
    width: 251px;
    height: 64px;
}
.footerContent p {
    color: #7D7987;
    font-family: Muli;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    width: 266px;
    height: 84px;
    margin-top: 12px;
}
.footerContent {
    margin-left: 33px;
}
.footerContent img {
    width: 14.143px;
    height: 9px;
    flex-shrink: 0;
    margin-left: 15px;
}

.footerContent button{
    width: 266px;
    color: #4089ED;
    font-family: Muli;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    flex-direction: row;
    

}
.viewButton {
    color: #458FF6;
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
    background-color: white;
}
.viewBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;

}

footer {
    background: linear-gradient(183deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    width: 1600px;
    height: 432px;
    flex-shrink: 0;
    padding-top: 124px;
    padding-left: 191px;
    margin-top: 201px;
    display: flex;
    flex-direction: row;
   
}
.footerLogo {
    background-color: white ;
    border-radius: 50%;
    height: 41px;
    width: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5B9BF3;

    font-family: Muli;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}
.footerLogoName {
    color: #FFF;
    font-family: Muli;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 12px;
}
.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 41px;
    width: 160px;
}

.trafalgar-footer .p1 {
    color: #FFF;
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    margin-top: 22px;
    width: 391px;
    height: 84px;
}
.trafalgar-footer .p2 {
    color: #FFF;
    font-family: Muli;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; 
    margin-top: 31px;
    width: 391px;
    height: 28px;
}
.footerInfo h3 {
    color: #FFF;
    font-family: Muli;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
}
.footerInfo p {
    color: #FFF;
font-family: Muli;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 38px; 
}
.footerLeftSection {
    display: flex;
    flex-direction: column;
    width: 391px;
    height: 390px;
}
.footerInfo {
    margin-left: 145px;
}